# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for item in play_hosts %}
{% set short_name = hostvars[item]['fqdn'].split('.') %}
{{ hostvars[item]['ansible_all_ipv4_addresses'][0] }}  {{ hostvars[item]['fqdn'] }} {{ short_name[0] }}
{% endfor %}
